* {
    width: 1680px;

}

body {
    
    background-repeat: no-repeat;
    background-color: #DEDEDE;
    display: flex;
}

.form-register {
    width: 840px;

}

.example-form {
    position: relative;
    top: 50px;
    width: 840px;
}

h2 {
    color: #000;
    margin: auto;
    width: inherit;
    text-align: center;
    font-size: 36px;
    font-family: 'Times New Roman', Times, serif;

}

svg {
    width: inherit;
    
}


.example-form mat-form-field {
    display: flexbox;
    width: 350px;
    margin: 15px 35px 0 35px;
    overflow-x: hidden;

}

.example-form .last {
    position: relative;
    left: 210px;
}



button {
    display: block;
    margin: auto;
    margin-top: 10px;
    width: 100px;

}


button:hover{
    border: 2px groove black;
}


/*Ahora para la tabla*/

.form-listar {

    display: flexbox;
    width: 840px;


}
.form-listar .buscador {
    position: relative;
    left:  150px;
    width: 350px;
    height: 78px;
    margin-top: 25px;

}

.form-listar .buscador mat-form-field {
    display: inline-block;
    position: absolute;
    width: 350px;
    height: auto;

}

.form-listar .buscador .bi{ 
    position: absolute;
    width: 18px;
    margin-left: -15px;
    color: #000;
}


.form-listar .in{
    border-radius: 25px;
}

.form-listar table {
    display: inline-block;
    position: relative;
    width: 840px;
    top: 0px;
    border-radius: 10px;
}

table ng-container {
    width: 100px;
}

.pagination {
    display: inline-flex;
    width: inherit;
    margin-top: -10px;
}

button:hover{
    border: 2px groove black;
}

.example-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
  }