<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0" />
    <title>Document</title>
</head>

<body style="background-color: #dedede;">
    <div class="container ">
        <br />
        <h2 style="text-align: center">ALERTAS</h2>
        <div class="d-flex justify-content-between">
            <div>
                <mat-form-field>
                    <mat-icon matPrefix>search</mat-icon>
                    <input matInput (keyup)="filter($event)" placeholder="Buscar" />
                </mat-form-field>
            </div>
            <div>
                <button mat-raised-button style="background-color: #20211f; color:#F4F7F9; font-weight: 800;"
                    routerLink="/alertas/nuevo">
                    Nuevo
                </button>
            </div>
        </div>

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

            <!-- Position Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>Código</th>
                <td mat-cell *matCellDef="let element">{{ element.id_alerta }}</td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="fecha">
                <th mat-header-cell *matHeaderCellDef>Fecha</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.fecha }}
                </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="tipo">
                <th mat-header-cell *matHeaderCellDef>Tipo de alerta</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.tipo }}
                </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="descripcion">
                <th mat-header-cell *matHeaderCellDef>Descripción</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.descripcion }}
                </td>
            </ng-container>
            <!-- Symbol Column -->
            <ng-container matColumnDef="ubicacion">
                <th mat-header-cell *matHeaderCellDef>Ubicación</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.ubicacion }}
                </td>
            </ng-container>
            <ng-container matColumnDef="gravedad">
                <th mat-header-cell *matHeaderCellDef>Gravedad de alerta</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.gravedad }}
                </td>
            </ng-container>
            <ng-container matColumnDef="usuario">
                <th mat-header-cell *matHeaderCellDef>Policía/Agente</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.usuario.nombre }}
                </td>
            </ng-container>

            <ng-container matColumnDef="actualizar">
                <th mat-header-cell *matHeaderCellDef>Acciones</th>
                <td mat-cell *matCellDef="let element">
                    <button mat-fab style="background-color: #D6CDC9; color:#20211f; font-weight: 800;" [routerLink]="['ediciones', element.id_acta]">
                        <mat-icon>edit</mat-icon>
                    </button>
                </td>
            </ng-container>
            <ng-container matColumnDef="eliminar">
                <th mat-header-cell *matHeaderCellDef>Acciones</th>
                <td mat-cell *matCellDef="let element">
                    <button mat-fab style="background-color: #20211f; color:#D6CDC9; font-weight: 800;" (click)="eliminar(element.id_acta)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
    </div>
</body>

</html>