
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="background-color: #dedede;">
    <div class="container" style="text-align: center">
        <br>
        <h2>Registro de usuario</h2>
        <form [formGroup]="form" (submit)="aceptar()" class="example-form">

            <mat-form-field class="example-full-width">
                <mat-label>rol</mat-label>
                <mat-select formControlName="rol">
                  <mat-option *ngFor="let p of tipos" [value]="p.value">
                    {{p.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              

          <mat-form-field class="example-full-width">
            <mat-label>user</mat-label>
            <mat-select formControlName="user">
              <mat-option *ngFor="let l of lista_users" [value]="l.id">
                {{l.nombre}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          
          <button mat-raised-button style=" background-color: #20211f; color:#F4F7F9; font-weight: 800;">Registrar</button>
          <p>{{mensaje}}</p>

        </form>
    </div>

    <div class="container ">
      <br />
      <h2 style="text-align: center">ROLES</h2>

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 text-center">
          <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef>id</th>
              <td mat-cell *matCellDef="let element">
                  {{ element.id }}
              </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="rol">
              <th mat-header-cell *matHeaderCellDef>rol</th>
              <td mat-cell *matCellDef="let element">
                  {{ element.rol }}
              </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="usuario">
              <th mat-header-cell *matHeaderCellDef>usuario</th>
              <td mat-cell *matCellDef="let element">
                  {{ element.user.username }}
              </td>
          </ng-container>


        
          <ng-container matColumnDef="eliminar">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let element">
              <button *ngIf="element.rol!='ADMIN'" 
                mat-raised-button
                class="custom-button"
                (click)="openDialog(element.id)"
              >
  <mat-icon  >delete</mat-icon>
              </button>
            </td></ng-container
          >
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator style="background-color: transparent;" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
  </div>
</body>

