
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="background-color: #dedede;">
    <div class="container" style="text-align: center">
        <br>
        <h2>Registro de usuario</h2>
        <form [formGroup]="form" (submit)="aceptar()" class="example-form">

            <mat-form-field class="example-full-width">
                <mat-label>rol</mat-label>
                <mat-select formControlName="rol">
                  <mat-option *ngFor="let p of tipos" [value]="p.value">
                    {{p.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              

          <mat-form-field class="example-full-width">
            <mat-label>user</mat-label>
            <mat-select formControlName="user">
              <mat-option *ngFor="let l of lista_users" [value]="l.id">
                {{l.nombre}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          
          <button mat-raised-button color="primary">Registrar</button>
          <p>{{mensaje}}</p>

        </form>
    </div>
</body>

