<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <div class="contenedor">
    
      <div class="formulario">
        <h1>Registrar Camara</h1>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="659"
          height="9"
          viewBox="0 0 659 9"
          fill="none"
        >
          <path
            d="M0.535118 4.21871C0.339856 4.41397 0.339856 4.73056 0.535118 4.92582L3.7171 8.1078C3.91236 8.30306 4.22894 8.30306 4.42421 8.1078C4.61947 7.91254 4.61947 7.59595 4.42421 7.40069L1.59578 4.57227L4.42421 1.74384C4.61947 1.54858 4.61947 1.23199 4.42421 1.03673C4.22894 0.84147 3.91236 0.84147 3.7171 1.03673L0.535118 4.21871ZM658.242 4.92582C658.438 4.73056 658.438 4.41397 658.242 4.21871L655.06 1.03673C654.865 0.84147 654.548 0.84147 654.353 1.03673C654.158 1.23199 654.158 1.54858 654.353 1.74384L657.182 4.57227L654.353 7.40069C654.158 7.59595 654.158 7.91254 654.353 8.1078C654.548 8.30306 654.865 8.30306 655.06 8.1078L658.242 4.92582ZM0.888672 5.07227H657.889V4.07227H0.888672V5.07227Z"
            fill="black"
          />
        </svg>
        <br />
        <form [formGroup]="form" (submit)="aceptar()" class="example-form">

          <mat-form-field class="example-full-width" *ngIf="edicion">
            <mat-label>id_camara</mat-label>
            <input matInput placeholder="Id" formControlName="id_camara" />
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Ubicacion</mat-label>
            <input
              matInput
              placeholder="Ubicacion"
              formControlName="ubicacion"
            />
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Tipo de Camara</mat-label>
            <input
              matInput
              placeholder="Tipo de Camara"
              formControlName="tipo_camara"
            />
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Area Vigilada</mat-label>
            <input
              matInput
              placeholder="Area Vigilada"
              formControlName="area_vigilada"
            />
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Estado</mat-label>
            <mat-select formControlName="estado">
              <mat-option *ngFor="let p of tipos" [value]="p.value">
                {{ p.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Entidad</mat-label>
            <mat-select formControlName="entidad">
              <mat-option *ngFor="let p of listaEntidades" [value]="p.idEntidad">
                {{ p.nombre }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <button mat-raised-button color="primary">Registrar</button>
          <p>{{ mensaje }}</p>
        </form>
      </div>
    </div>
  </body>
</html>
