<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <div class="contenedor">
      <div class="fondo"></div>
      <div class="formulario">
        <h1>Registrar Camara</h1>
        <br class="linea" />
        <br />
        <form [formGroup]="form" (submit)="aceptar()" class="example-form">

          <mat-form-field class="example-full-width" *ngIf="edicion">
            <mat-label>id_camara</mat-label>
            <input matInput placeholder="Id" formControlName="id_camara" />
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Ubicacion</mat-label>
            <input
              matInput
              placeholder="Ubicacion"
              formControlName="ubicacion"
            />
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Tipo de Camara</mat-label>
            <input
              matInput
              placeholder="Tipo de Camara"
              formControlName="tipo_camara"
            />
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Area Vigilada</mat-label>
            <input
              matInput
              placeholder="Area Vigilada"
              formControlName="area_vigilada"
            />
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Estado</mat-label>
            <mat-select formControlName="estado">
              <mat-option *ngFor="let p of tipos" [value]="p.value">
                {{ p.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Entidad</mat-label>
            <mat-select formControlName="entidad">
              <mat-option *ngFor="let p of listaEntidades" [value]="p.idEntidad">
                {{ p.nombre }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <button mat-raised-button color="primary">Registrar</button>
          <p>{{ mensaje }}</p>
        </form>
      </div>
    </div>
  </body>
</html>
