h1{
    font-size: 40px;
    font-weight: bold;
}

.contenedor .formulario {

    display: inline-flexbox;
    width: 831px;
    background-color: #000;

}

form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

mat-form-field {

    margin-right:10px;
    margin-left: 10px;
    width:40%;

}

button {

    margin-left: 19px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}
