.container {
    width: 1680px;
}

body {
    background: #C7CFD9;
    width: 1680px;
    height: 929px;
}

nav {
    text-align: center;
}

.pagination {
    margin-top: 10px;
    display: inline-flex;
}