<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body style="background-color: #dedede">
    <div class="container">
      <br/>
      <h1 style="text-align: center">LISTA DE SOSPECHOSOS</h1>
      <div class="d-flex justify-content-between">
        <div>
          <mat-form-field style="width: 140%">
            <mat-icon matPrefix>search</mat-icon>
            <input matInput (keyup)="filter($event)" placeholder="Buscar sopechosos"/>
          </mat-form-field>
        </div>
        <div class="buttons">
          <button *ngIf="role == 'ADMIN' || role =='AGENTE' || role == 'POLICIA'" mat-mini-fab style="background-color: #ababa9; color: #20211f; font-weight: 800"(click)="reload()">
            <mat-icon>refresh</mat-icon>
          </button>
          <button *ngIf="role == 'ADMIN' || role =='AGENTE' || role == 'POLICIA'" mat-raised-button style="background-color: #20211f; color: #f4f7f9; font-weight: 800" routerLink="/sospechosos/nuevo">
            Nuevo
          </button>
        </div>
      </div>
      <div class="container">
        <div class="card-container">
          <mat-card class="example-card" *ngFor="let a of obs | async">
            <mat-card-header class="justify-content-center">
              <div mat-card-avatar class="example-header-image" style="background-image: url('{{a.imagen}}'); background-size: cover; width: 200px;height: 200px;"></div>
            </mat-card-header>
            <mat-card-content style="text-align: center;">
                <mat-card-title style="font-size: 30px; font-weight: bold;flex: auto; justify-content: center;">{{ a.nombre }}</mat-card-title>
                <br>
                <mat-card-subtitle style="font-size: 20px; font-weight: bold;">"{{ a.alias }}"</mat-card-subtitle>
                <br/>
              <div>
                <p>Nacimiento : {{ a.nacimiento }}</p>
                <p>Género : {{ a.genero }}</p>
                <p>Nacionalidad : {{ a.nacionalidad }}</p>
                <p>Descripcion : {{ a.descripcion }}</p>
                <p>Historial : {{ a.historial }}</p>
                <p>Estado : {{ a.estado }}</p>
                <p>Fecha de registro : {{ a.fecharegistro }}</p>
                <p>Entidad asociada: {{a.entidad.nombre}} </p>
              </div>
            </mat-card-content>
            <mat-card-actions class="justify-content-center">
              <button *ngIf="role == 'ADMIN'" mat-mini-fab style="background-color: #20211f; color: #d6cdc9; font-weight: 800; margin: 20px;" [routerLink]="['edicion', a.idSospechoso]">
                <mat-icon>edit</mat-icon>
              </button>
              <button *ngIf="role == 'ADMIN'" mat-mini-fab style="background-color: #20211f; color: #d6cdc9; font-weight: 800; margin: 20px; "(click)="openDialog(a.idSospechoso)">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
        <mat-paginator style="background-color: transparent" [pageSizeOptions]="[4, 8, 12, 16, 20]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </body>
</html>