<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <br />
    <h1 style="text-align: center">LISTA DE SOSPECHOSOS</h1>
    <div class="boton">
        <button mat-raised-button style="background-color: #20211f; color:#F4F7F9; font-weight: 800;" routerLink="/sospechosos/nuevo">
            Nuevo
        </button>
    </div>
    <div class="container">
      <div class="card-container">
        <mat-card class="example-card" *ngFor="let sospechoso of sospechoso">
          <mat-card-header>
            <mat-card-title>{{ sospechoso.nombre }}</mat-card-title>
          </mat-card-header>
          <img mat-card-image class="imagen" src="{{ sospechoso.imagen }}" />
          <mat-card-content>
            <p>Alias : {{ sospechoso.alias }}</p>
            <p>Nacimiento : {{ sospechoso.nacimiento }}</p>
            <p>Género : {{ sospechoso.genero }}</p>
            <p>Nacionalidad : {{ sospechoso.nacionalidad }}</p>
            <p>Descripcion : {{sospechoso.descripcion}}</p>
            <p>Historial : {{ sospechoso.historial }}</p>
            <p>Estado : {{ sospechoso.estado }}</p>
            <p>Fecha de registro : {{ sospechoso.fecharegistro }}</p>
          </mat-card-content>
          <mat-card-actions >
            <button mat-mini-fab style="background-color: #20211f; color:#D6CDC9; font-weight: 800; margin: 20px;" [routerLink]="['edicion', sospechoso.idSospechoso]">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-mini-fab style="background-color: #20211f; color:#D6CDC9; font-weight: 800; margin: 20px;" (click)="openDialog(sospechoso.idSospechoso)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </body>
</html>