<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <br />
    <h1 style="text-align: center">LISTA DE SOSPECHOSOS</h1>
    <div style="text-align: center; margin-bottom: 20px">
      <button style="text-align: right" mat-raised-button color="primary" mat-button [routerLink]="['nuevo']">
        NUEVO
      </button>
    </div>
    <div class="container">
      <div class="card-container">
        <mat-card class="example-card" *ngFor="let sospechoso of sospechoso">
          <mat-card-header>
            <mat-card-title>{{ sospechoso.nombre }}</mat-card-title>
          </mat-card-header>
          <img mat-card-image class="imagen" src="{{ sospechoso.imagen }}" />
          <mat-card-content>
            <p>Alias : {{ sospechoso.alias }}</p>
            <p>Nacimiento : {{ sospechoso.nacimiento }}</p>
            <p>Género : {{ sospechoso.genero }}</p>
            <p>Nacionalidad : {{ sospechoso.nacionalidad }}</p>
            <p>Descripcion : {{sospechoso.descripcion}}</p>
            <p>Historial : {{ sospechoso.historial }}</p>
            <p>Estado : {{ sospechoso.estado }}</p>
            <p>Fecha de registro : {{ sospechoso.fecharegistro }}</p>
          </mat-card-content>
          <mat-card-actions style="align-items: center;">
            <button mat-button [routerLink]="['edicion', sospechoso.idSospechoso]">
              <mat-icon>create</mat-icon>
            </button>
            <button mat-button (click)="eliminar(sospechoso.idSospechoso)">
              <mat-icon>delete_outline</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </body>
</html>
