<mat-toolbar class="menu" >
  <div class="container-fluid container-xl d-flex align-items-center justify-content-center">
    <img src="/assets/img/logo2.png" class="logo">
  </div>
  <div class="container text-center align-self-center">Usuario</div>
  <div class="container text-center align-self-center">Entidad</div>
  <div class="container text-center align-self-center salir"><button>Salir</button></div>

</mat-toolbar>

<div style="background-color: #21201F;">
  <div class="container-sm">
    <nav mat-tab-nav-bar>
      <a color="success" mat-tab-link routerLink="/entidades" routerLinkActive #rla="routerLinkActive"
        [active]="rla.isActive">ENTIDADES</a>
      <a color="success" mat-tab-link routerLink="/usuarios" routerLinkActive #rla2="routerLinkActive"
        [active]="rla2.isActive">USUARIOS</a>
      <a mat-tab-link routerLink="/sospechosos" routerLinkActive #rla3="routerLinkActive"
        [active]="rla3.isActive">SOSPECHOSO</a>
      <a mat-tab-link routerLink="/camaras" routerLinkActive #rla4="routerLinkActive"
        [active]="rla4.isActive">CÁMARAS</a>
      <a mat-tab-link routerLink="/antecedentes" routerLinkActive #rla5="routerLinkActive"
        [active]="rla5.isActive">ANTENCEDENTES PENALES</a>
      <a mat-tab-link routerLink="/alertas" routerLinkActive #rla6="routerLinkActive"
        [active]="rla6.isActive">ALERTAS</a>
      <a mat-tab-link routerLink="/actas" routerLinkActive #rla7="routerLinkActive" [active]="rla7.isActive">ACTAS</a>
      <a mat-tab-link routerLink="/roles" routerLinkActive #rla8="routerLinkActive" [active]="rla8.isActive">ROLES</a>
      <a mat-tab-link routerLink="/tipos" routerLinkActive #rla9="routerLinkActive" [active]="rla9.isActive">TIPOS DE
        ENTIDAD</a>
    </nav>
  </div>
</div>
<br>

<div>
  <router-outlet></router-outlet>
</div>