<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="login.component.css" />
    <title>Document</title>
  </head>
  <body style="background-color: #dedede">
    <div class="container-total">
      <div class="container" style="text-align: center">
        <h2>Iniciar sesión</h2>
        <p>Coloque su correo y su contraseña</p>
        <input matInput placeholder="Correo" [(ngModel)]="username" />

        <input
          type="password"
          matInput
          placeholder="Contraseña"
          [(ngModel)]="password"
        />

        <button mat-raised-button (click)="login()">
          Ingresar
        </button>
      </div>
      <div class="container-2" style="text-align: center">
        <img src="assets/img/logo.png" alt="Logo" />
        <h2>!Bienvenido!</h2>
        <p style="color: #fff">Su seguridad en nuestras manos</p>
      </div>
    </div>
  </body>
</html>
