*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #fff;
  }

  .container h2{
    font-size: 40px;
    text-align: center;
    font-weight: 700;
    padding-bottom: 50px;
    font-family: Montserrat, sans-serif;
  }

  p{
    font-family:  Montserrat, sans-serif;
    font-size: 15px;
    margin-bottom: 20px;
  }

  button{
    padding: 20px;
    margin: 10px;
    background-color: aquamarine;
  }

  input{
    width: 200px;
    margin-top: 16x;
    margin-bottom: 20px;
    background-color: rgb(238, 238, 238);
    border: none;
    height: 35px;
    font-family: Montserrat, sans-serif;
    padding-left: 10px;
  }


  .container-total{
    display: inline-flex;
    border-radius: 5px;
    width: 700px;
    height: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Sombra para resaltar */
  }

  .container{
    width: 400px;
    border-right: 1px outset #ababa9 ;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra para resaltar */

  }

  .container-2{
    width: 300px;
    background-color: #20211f;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra para resaltar */

  }

  .container, .container-2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

  }

  .container-2 h2{
    margin: 50px;
    font-size: 35px;
    color: #fff;
    font-family: Montserrat, sans-serif;
  }

