<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width>, initial-scale=1.0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap">
    <title>Document</title>
  </head>

  <body>
    <div class="container">
      <h1>REGISTRAR ENTIDAD</h1>
      <div class="form">
        <br class="linea">
        <br>
        <form [formGroup]="form" (submit)="aceptar()" class="example-form">

          <mat-form-field class="example-full-width">
            <mat-label>Nombre</mat-label>
            <input matInput placeholder="Nombre" formControlName="nombre" />
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Direccion</mat-label>
            <input matInput placeholder="Direccion" formControlName="direccion" />
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Telefono</mat-label>
            <input matInput placeholder="Telefono" formControlName="telefono" />
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>TipoEntidad</mat-label>
            <mat-select formControlName="TipoEntidad">
              <mat-option *ngFor="let l of listaTipo" [value]="l.idTipo">
                {{l.sector}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          
          <div class="buttons">
            <button mat-raised-button
            style="background-color: #21201F; color: #FFFFFF;">Aceptar</button>
            <button mat-raised-button 
            style="background-color: rgb(189, 188, 188); color: #000000;"routerLink="/entidades">Cancelar</button>
            <p>{{mensaje}}</p>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>