body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #DEDEDE;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    font-family: 'Inter', sans-serif;
    color: #171C26;
    font-size: 36px;
    font-weight: bold;
}

.form {
    padding: 20px;
    border-radius: 8px;
}

.example-full-width {
    width: calc(100% - 20px);
}
  
button {
    margin-top: 25px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-left: 75px;
}

@media (max-width: 600px) {
    .container {
        max-width: 90%;
    }
}