.botones-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  button {    
    padding: 10px 15px;
    cursor: pointer;
    text-decoration: none;
    margin-right: 15px; /* Ajusta el espacio entre los botones según sea necesario */
    border-radius: 5px; /* Agrega esquinas redondeadas */
  }
  
  
  
  