<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reporte01</title>
  </head>
  <body>
    <div class="container">
      <div style="text-align: center">
        <h1>Cantidad de sospechosos por entidad</h1>
      </div>
      <div style="text-align: center">
        <!-- Gráfico de barras -->
        <canvas
          baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [legend]="barChartLegend"
          [type]="barChartType"
        >
          <!-- Cambiado de 'chartType' a 'type' -->
        </canvas>
      </div>
    </div>
  </body>
</html>
