<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <br />
      <div><h2 style="text-align: center">CAMARAS</h2></div>
      <!---->
      <div class="container-2">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

          <!-- Position Column -->
          <ng-container matColumnDef="id_camara">
            <th mat-header-cell *matHeaderCellDef>Código</th>
            <td mat-cell *matCellDef="let element">{{ element.id_camara }}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="ubicacion">
            <th mat-header-cell *matHeaderCellDef>Ubicacion</th>
            <td mat-cell *matCellDef="let element">
              {{ element.ubicacion }}
            </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="tipo_camara">
            <th mat-header-cell *matHeaderCellDef>Tipo de Camara</th>
            <td mat-cell *matCellDef="let element">
              {{ element.tipo_camara }}
            </td>
          </ng-container>
          <!-- Symbol Column -->
          <ng-container matColumnDef="area_vigilada">
            <th mat-header-cell *matHeaderCellDef>Area Vigilada</th>
            <td mat-cell *matCellDef="let element">
              {{ element.area_vigilada }}
            </td>
          </ng-container>

          <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef>Estado de la camara</th>
            <td mat-cell *matCellDef="let element">
              {{ element.estado }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>

      </div>
    </div>
  </body>
</html>
